body {
    background-image: url('mysterious-woman-better-resolution.jpg'); /*https://pixabay.com/*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}

.content > a, a:visited {
    text-decoration: none;
    color: #212529;
}
.content > a:hover {
    color: #d63384;
}
/*
body {
    background-color: #BFFCFB;
    font-family: fantasy;
    color: #BFFCFB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header, #footer{
    width: 100%;
    position: fixed;
    padding: 10px 0;
}
#header {
    background-color: darkcyan;
    top: 0;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
#content {
    width: 80%;
    margin: 0 auto;
    position: fixed;
    top: 120px;
    bottom: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: #56C1C0;
    bottom: 0;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

h1 {
    color: #FF8749;
    font-size: 70px;
    margin: 0;
    padding: 0;
}
*/
